{% extends "layout.html" %}

{% block content %}
<div class="content content__terms public-page">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4 text-center">Terms of Use</h1>
                <p>We support open access and licence all content created and distributed by 360info under the terms of the <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">Creative Commons Attribution 4.0 International Licence</a> (CCL) except for:</p>
                <ul>
                    <li>The 360 logo.</li>
                    <li>Third party copyright for materials for which consent must be obtained.</li>
                </ul>
                <p>To help you understand your rights to use a licensed work, you can refer to the CCL information below.  For full details of the terms of CCL, please go to the link above.</p>
                <p>Subject to third party copyright, you are free to share, copy, and redistribute it in any medium or format. </p>
                <p>Third parties may own the copyright in some materials such as photos, graphics or videos  and, in such cases, written permission must be required from these parties to use such material.  This will be noted with the content. </p>

                <h4 class="mt-5">Conditions for using 360info content</h4>
                <p>Under the terms of CCL, you are able to:</p>
                <ul>
                    <li><span class="font-weight-bold">Share</span> — copy and redistribute the content from 360info in any medium or format.</li>
                    <li><span class="font-weight-bold">Adapt</span> — remix, transform, and build upon content and data for any purpose, even commercially.</li>
                </ul>

                <h4 class="mt-5">Attribution</h4>
                <p>You must give <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">appropriate credit</a>, provide a link to the licence, and <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">indicate if changes were made</a>. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</p>
                <p><span class="font-weight-bold">If you republish an article</span> , you must always attribute the Author/s and <span class="font-weight-bold">360info</span> as the creator of the material. Each article you download has an attribution note embedded at the end of the article that provides all the details and links that must be kept with your use of an article. To provide appropriate credit:</p>
                <ul>
                    <li>You must credit 360info when using part or all of our content</li>
                    <li>You must credit the original author/s, preferably in the byline</li>
                    <li>You must indicate if changes were made by saying, depending on the situation, <span class="font-italic">“by 360info”</span> or <span class="font-italic">”with 360info”</span>, preferably in the byline</li>
                    <li>You must make sure you are licensed to republish any images or graphics. Copyright terms will be listed in the image caption.</li>
                    <li>Provide a link to the CC licence that applies to the original work.</li>
                </ul>
                <p>For example, the attribution for an article without significant changes made should look like this:</p>
                <p class="font-italic">“Written by Jane Smith, Ubi Franeker, Wageningen University, Reihana Rochman, University of Toronto. Originally published under <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">Creative Commons</a> by 360info.“</p>
                <p>Or</p>
                <p>Attribution for an article with changes made should look like this:</p>
                <p class="font-italic">"Written by Jane Smith, Ubi Franeker, Wageningen University, Reihana Rochman, University of Toronto.  Originally published under <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">Creative Commons</a> with 360info"</p>
                <p>You could also include the author/s names in the byline, and then just include <span class="font-italic">“Originally published under <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">Creative Commons</a> by 360info“</span> at the end of the article.</p>
                <p>You are free to reformat this as long as you keep the appropriate credits as listed above. </p>
                <p>If you republish only part of an article such as a quote, the only requirement is that you attribute the quote to the correct author/s.</p>
                <p>For example: Jane Smith said x or Jane Smith told 360info.</p>
                <p><span class="font-weight-bold">No additional restrictions:</span> You may not apply legal terms or <a href="https://creativecommons.org/licenses/by/4.0/" class="text-primary" target="_blank">technological measures</a> that legally restrict others from doing anything the license permits.</p>
                <p>In the event of an article being taken down due to legal reasons we will notify republishers. </p>
                <p>Complaints regarding allegations of plagiarism should be directed to <a href="mailto:info@360info.org" class="text-primary" target="_blank">info@360info.org</a>. Complaints regarding allegations of copyright infringement should be directed to <a href="mailto:copyright-infringements@monash.edu" class="text-primary" target="_blank">copyright-infringements@monash.edu</a></p>

                <h4 class="mt-5">Disclaimer</h4>
                <p>While <span class="font-weight-bold">360info</span> attempts to ensure that the information on the <span class="font-weight-bold">360info</span> Newshub website is accurate at the time of publication, it provides no express or implied warranties or makes any representations in relation to this website or any content.</p>
                <p>While <span class="font-weight-bold">360info</span> has policies and procedures in place to ensure our content is accurate, current, complete and reliable, we are unable to guarantee this.  If it comes to our attention that content does not meet these standards, we will either makes changes or take the content down. Users will be notified. <span class="font-weight-bold">360info</span> reserves the right to amend the information on the <span class="font-weight-bold">360info</span> Newshub website at any time and will notify users of any changes.</p>
                <p><span class="font-weight-bold">360info</span> and Monash University will not be liable for any loss or damages (including indirect or consequential) occasioned by use of the <span class="font-weight-bold">360info</span> Newshub website or information contained on this website. All access to and use of this website and its information is at the risk of the user.</p>
                <p>The <span class="font-weight-bold">360info</span> Newshub website contains links to third party websites which are provided for convenience only and should not be construed as an endorsement or approval of the content by Monash University.</p>
                <p><span class="font-weight-bold">360info</span> does not warrant that the functions contained in this website will be uninterrupted or error free, that defects will be corrected,or that this site or the server that makes it available are free of viruses or bugs.</p>

                <h4 class="mt-5">Complaints</h4>
                <p>Complaints regarding allegations of plagiarism should be directed to <a href="mailto:info@360info.org" class="text-primary" target="_blank">info@360info.org</a>. Complaints regarding allegations of copyright infringement should be directed to <a href="mailto:copyright-infringements@monash.edu" class="text-primary" target="_blank">copyright-infringements@monash.edu</a>.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}
