{% extends "layout.html" %}

{% block content %}

<div class="content content__about">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4">About Us</h1>
                <p>At a time of low trust in news and widespread misinformation, 360info™ provides an innovative service delivering verified and reliable information to as many publishing, broadcasting and civic society outlets as possible. It is not a breaking news service nor a consumer-facing website driven by clicks. Instead, we focus on the supply of contextual and explanatory news features <strong>ready-for-publication on other publisher's outlets.</strong></p>
                <p>As an independent not-for-profit, <strong>all of our content is free to republish, edit, remix or translate</strong> under <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/">Commons Attribution 4.0 International</a>. A strict charter governs the transparency, accuracy and reliability of our content.</p>
                <p><strong>note:</strong> 360info remains in development and will be formally launched early next year.  In the interim, we will seek feedback from those trialling our content.</p>
                <p>Please register.</p>
                <p>Team 360</p>
            </div>
            <div class="col-12 col-xl-8 mx-xl-auto a--underline text-center">
                <h2>How is 360™ different?</h2>
                <p><strong>We are not a slave to the 24-hour news cycle.</strong> Our comprehensive special reports, while aligned with current news, are not reactive in nature.  We do not seek instant opinion or commentary in response to the daily news agenda of mainstream media.  Instead, we offer contextual, explanatory and at times corrective  information to help inform the wider public.  All driven by evidence-based research.</p>
                <p><strong>We adopt solutions journalism methods</strong> to describe how research is providing solutions or ways forward to society's greatest challenges from multiple global perspectives (loosely aligned with the UN Sustainable Development Goals).  Our focus is on effectiveness not good intentions; presenting available evidence of results, but also discussing the limitations of the approach.</p>
                <p><strong>We deliver content in multiple formats</strong> to tell stories in engaging ways.  Our authors work with our professionalism editors to ensure content is delivered in understandable and plain language.  We will utilise multiple story-telling formats, with a focus on text and data journalism. We aim to introduce multiple language content  in  the near future.</p>
                <p><strong>We balance contributions and perspectives</strong> from researchers in developed and developing countries.  Our editorial team curate groups of international researchers and highlight issues that are sometimes neglected or marginalised.  In this way, we deliver deeply informed, globally relevant content - not just information that applies the “national interest” test . </p>
                <p><strong>We leverage the unique reach and expertise of global universities.</strong> Headquartered at Monash University, Melbourne, at the heart of our commissioning process is engagement with the global research community.  Our editors work alongside subject specialists to identify new research, detect gaps in existing coverage, and reveal misconceptions about particular issues.  Notably, we have established a unique consultative process bringing together global experts on major themes including climate, disease, water, oceans, energy, food security, population and migration.</p>
            </div>
            <div class="col-12 col-xl-8 mx-xl-auto a--underline text-center mt-5">
                <p>Headquartered at Monash University, Melbourne, we will build global news hubs to commission, produce and distribute around the world.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}