{% extends "layout.html" %}

{% block content %}
<div class="content content__terms">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4">Terms of Use</h1>

                <p class="mb-3">We support open access and licence all content created and distributed by 360 under the terms of the <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International Licence.</a></p>
                <p class="mb-3">You are free to share, copy, and redistribute it in any medium or format. To help you understand your rights to use a licensed work you can refer to the CC information below.</p>
                <p class="mb-3">Third parties may own the copyright in some materials such as photos, graphics or videos  and, in such cases, written permission may be required from these parties to use such material.  This will be noted with the content. </p>

                <h2 class="mb-4">General guidelines for using our content</h2>
                <p class="mb-3">Under the terms of this CC licence you are able to:</p>
                <ul>
                    <li><strong>Share</strong> — copy and redistribute the content from 360™ in any medium or format.</li>
                    <li><strong>Adapt</strong> — remix, transform, and build upon content and data for any purpose, even commercially.</li>
                </ul>

                <h2 class="mb-4">Attribution</h2>
                <p class="mb-3">You must give <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/#">appropriate credit</a>, provide a link to the licence, and <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/#">indicate if changes were made</a>. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</p>
                <p class="mb-3"><strong>If you republish an article</strong>, you must always attribute the Author/s and 360™ as the creator of the material. Each article you download has an attribution note embedded at the end of the article that provides all the details and links that must be kept with your use of an article. To provide appropriate credit:</p>
                <ul>
                    <li>You must credit 360™ when using part or all of our content</li>
                    <li>You must credit the original author/s, preferably in the byline</li>
                    <li>You must indicate if changes were made by saying “with 360™”, preferably in the byline</li>
                    <li>You must make sure you are licensed to republish any images or graphics. Copyright terms will be listed in the image caption.</li>
                    <li>Provide a link to the CC licence that applies to the original work.</li>
                </ul>

                <p class="mb-3">For example, the attribution for an article without significant changes made should look like this:</p>
                <p class="mb-3 font-italic">“Written by Jane Smith, Ubi Franeker, Wageningen University, Reihana Rochman, University of Toronto. Originally published under <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> by 360™.</p>

                <p class="mb-3">You could also include the author/s names in the byline, and then just include “Originally published under <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> by 360™” at the end of the article.</p>

                <p class="mb-3">You are free to reformat this as long as you keep the appropriate credits as listed above. </p>

                <p class="mb-3">If you republish only part of an article such as a quote, the only requirement is that you attribute the quote to the correct author/s.</p>

                <p class="mb-3">If you rework an article and add to it you should use the attribution ‘with 360™’ in the byline.</p>

                <p class="mb-3"><strong>No additional restrictions:</strong> You may not apply legal terms or <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/#">technological measures</a> that legally restrict others from doing anything the license permits.</p>

                <p class="mb-3">In the event of an article being taken down due to legal reasons we will notify republishers. </p>

                <p class="mb-3">Complaints regarding allegations of plagiarism should be directed to <a class="text-primary" href="mailto:info@360info.org">info@360info.org</a>. Complaints regarding allegations of copyright infringement should be directed to <a class="text-primary" href="mailto:copyright-infringements@monash.edu">copyright-infringements@monash.edu</a></p>

                <h2 class="mb-4">Liability</h2>
                <p class="mb-3">While 360™ attempts to ensure that the information on Newshub is accurate at the time of publication, it provides no express or implied warranties or makes any representations in relation to this website or any content.</p>
                <p class="mb-3">While 360 has policies and procedures in place to ensure our content is accurate, current, complete and reliable, we are unable to guarantee this.  If it comes to our attention that content does not meet these standards, we will either makes changes or take the content down.  Users will be notified.  360™ reserves the right to amend the information on Newshub at any time and will notify user of any changes.</p>
                <p class="mb-3">360™ accepts no responsibility for any loss or damage occasioned by use of this website or information contained on this website. All access to and use of this website and its information is at the risk of the user.</p>
                <p class="mb-3">Newshub contains links to third party websites which are provided for convenience only and should not be construed as an endorsement or approval of the content by Monash University.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}
