{% extends "layout.html" %}

{% block content %}

<div class="content content__about">
    <div class="container-fluid pt-5 d-flex flex-column">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4">Contact Us</h1>
                <p><a href="mailto:info@360info.org" target="_blank">info@360info.org</a></p>
            </div>
        </div>
    </div>

    <div class="mt-auto">
        {% include "footer_text.html" %}
    </div>
</div>

{% endblock %}