{% extends "layout.html" %}

{% block content %}

<div class="content content__about public-page">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4 text-center">Editorial Policies</h1>
                <h4>PURPOSE</h4>
                <p>As outlined in the <a class="text-primary" href="{{ url_for('public.page', template='charter') }}">360info Charter</a>, 360 is a non-profit <a class="text-primary" href="https://guides.lib.monash.edu/research-metrics-publishing/open-access">open access</a> newswire dedicated to delivering independent and reliable public information in a transparent and accountable manner. To deliver that, we work in tandem with the international university and research community to unlock, translate and publish research for the benefit of citizens globally allowing them to better understand the world we live in and how to address our most pressing problems. That collaboration further requires that we work with - and consult - researchers and expert advisers from developing Global South countries as well as Global North. Our areas of focus broadly align with the UN's Sustainable Development Goals.</p>
                <p>The 360 editorial policies outline the practical delivery of the principles embodied in the Charter.</p>
            </div>
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h4>CORE VALUES</h4>
                <h5>Accuracy</h5>
                <p>The credibility of 360 rests on the factual accuracy of its content. Editors take every reasonable measure to check facts, question broad assumptions and add context where doing so provides a more complete record of the facts.</p>
                <p>360 works in line with the <a class="text-primary" href="https://www.jsps.go.jp/english/e-kousei/data/singapore_statement_EN.pdf">Singapore Statement on Research Integrity</a> (2010) principles of honesty, accountability, professional courtesy and fairness, and good stewardship. Our community of authors and advisers must report misconduct including plagiarism and other irresponsible research practices that undermine the trustworthiness of what we publish.</p>

                <h5>Differentiation between opinion and analysis</h5>
                <p>Perceptions of independence and integrity for 360 rest on our ability to deliver information that is impartial and presents a diversity of perspectives.</p>
                <p>360 content aligns with the <a class="text-primary" href="https://www.jsps.go.jp/english/e-kousei/data/singapore_statement_EN.pdf">Singapore Statement</a> on Research Integrity to only publish authors writing in their area of expertise. It states:</p>
                <p class="font-italic text-center mx-3 mx-xl-5">“Researchers should limit professional comments to their recognized expertise when engaged in public discussions about the application and importance of research findings and clearly distinguish professional comments from opinions based on personal views.”</p>
                <p>The editorial focus of 360 is on factual, research-driven contextual, explanatory and where required corrective information. In the realm of journalism this falls under the definition of analysis or news features. 360 is not a publisher of opinion, unless specifically marked as such to distinguish from factual information. Instead we ensure facts speak for themselves.</p>

                <h5>Cultural diversity</h5>
                <p>360 aims to represent the views, thinking and research of the Global South and Global North countries to ensure a diversity of voices, persepectives, research and stories. There are many types of diversity to consider including sexual orientation, gender identity, ability, religion, age, socio-economic status, ethnic/cultural and geographical background. To deliver on that, we rely on the advice of our specialist advisers who are drawn from the Global South and North, as well as our editors, to best represent different regions and audiences in the cultural landscape they work in.</p>

                <h5>Accessibility</h5>
                <p>360 is dedicated to the principles of Open Access. 360 editors will strive to deliver content in a way that meets the needs of people with visual or aural impairments. However, as a wire service we ultimately rely on those republishing our content to not rework the content in a way that would be counter to this ideal.</p>
                <p>In each region where we work, we will aim to publish in a recognised language of that region, and if not possible to do so, will seek partnerships to enable translation.</p>

                <h5>Academic and intellectual freedom</h5>
                <p>Editorial independence and integrity are crucial to ensuring our users (republishers) can rely on our content.</p>
                <p>360 supports academic and intellectual freedom, embodied in curiosity, inquiry, observation, explanation and critique.</p>
                <p>Editors are responsible for ensuring the independence and integrity of the 360 content they publish. They must ensure editorial decisions are not improperly influenced by political, commercial or personal interests (see ‘Disclosure’).</p>

                <h5>Ethics</h5>
                <p>The contributors to 360 content come from diverse backgrounds, religions, cultures and countries. Values of honesty, fairness and mutual respect underpin everything we do. At all times we embrace true diversity and equal opportunity while respecting the human rights and legally protected attributes of all individuals. This Ethics Statement below details the ethical values and principles that are expected of all contributors to 360 content:</p>
                <ul>
                    <li>Uphold freedom of speech and academic freedom as defining values</li>
                    <li>Act with integrity, transparency and professionalism at all times </li>
                    <li>Submit outputs only when founded on honest effort and personal achievement </li>
                    <li>Promote the empowerment of individuals through learning, and the empowerment of society through research</li>
                    <li>Treat each other with honesty, fairness, mutual respect and be responsible in the exercise of power </li>
                    <li>Harness each person’s diversity promoting equality and inclusivity </li>
                    <li>Be open to different perspectives and attitudes. We respect the inherent dignity, beliefs and human rights of all individuals </li>
                    <li>Be responsible and accountable for our decisions and actions as individuals and as an organisation</li>
                    <li>Where errors are made, we will seek to correct as quickly as possible </li>
                    <li>In advancing knowledge, strive to achieve social justice for all and to redress past wrongs</li>
                    <li>Act responsibly to promote, and to contribute to the achievement of, environmental sustainability</li>
                    <li>Acknowledge our responsibility to contribute to the communities in which we operate.</li>
                </ul>

                <h5>Disclosure</h5>
                <p>360 authors must disclose their institutional affiliation, the funding of their research, and any other actual or perceived conflicts of interest.  These disclosures will be attributed to the published data and made available to the public.  If 360 becomes aware of any information that is false, misleading or hasn’t been disclosed, the matter will be corrected or the content taken down as per the “Corrections and Clarifications Policy”.</p>

                <h5>Funding</h5>
                <p>360 is a non-profit and nonpartisan organisation, with launch funding provided by Monash University. We believe that our greatest value to funders of the service is delivering independent and high quality content to as wide an audience as possible. Our authors should be able to conduct their work with neither fear nor favour from our funders.</p>
                <p>360 seeks further funding from universities, charitable foundations, governments, multilateral organisations, corporations and individuals to support its work.  However, to ensure such funding does not inhibit its effectiveness, final acceptance of such support is approved in accordance with the 360 Charter and the principle of intellectual freedom, including full authority over its editorial and other organisational decisions. </p>
                <p>360 does not accept offers of financial support that would cause a perceived, potential or actual conflict of interest in regards to editorial decisions, or that would restrict authors from promoting their research findings and recommendations. To further ensure intellectual freedom, 360 will not accept gifts from donors who seek to undermine the independence of its authors’ research contribution or otherwise to predetermine or influence what we publish.</p>
                <p>360 staff must not use their position for financial gain or other personal benefit. </p>

                <h5>Conflict of Interest</h5>
                <p>360 has a responsibility to ensure that none of its work contains a conflict or bias by providing full transparency to the public. </p>
                <p>360 must maintain integrity and demonstrate ethical behaviour when faced with the potential of a clash between a staff member's, author's or adviser's private interests and 360's interests, and where this may raise ethical or legal issues. </p>
                <p>360 will be transparent about any perceived, potential or actual conflict of interest ensuring declarations are made at an early stage. </p>
                <p>Examples of potential, perceived or actual conflicts of interest in relation to the commissioning of 360 content:</p>
                <p class="ml-4"><span class="font-weight-bold">Potential</span> - an editor or author has a pre-existing personal relationship with a funder for the research work.</p>
                <p class="ml-4"><span class="font-weight-bold">Perceived</span> - an editor or author has received funding by a business that contributed to the research.</p>
                <p class="ml-4"><span class="font-weight-bold">Actual</span> - the editor or author has financial interest in a business that sponsored the research that is being shared. </p>

                <h4>Commissioning process</h4>
                <h5>Authors</h5>
                <p>Authors writing for 360 must have a current affiliation (staff, adjunct or PhD candidate) with an accredited university/research institution, and may only contribute/write on their area of research and expertise.</p>
                <p>Institutes receiving government funding may also fall under this category, for example India’s Institutes of National Importance. </p>
                <p>If authors have a separate affiliation with a government body or other organisation this must also be disclosed in the article.</p>

                <h5>Commissioning consultative process: Special Report advisers</h5>
                <p>Special Report editors consult with informal advisers with subject matter expertise of a specific topic to guide the commissioning.</p>
                <p>These advisers must meet the following criteria to be considered for inclusion:</p>
                <ul>
                    <li>Working for a university, research institution, NGO or think tank that is transparent about its funding sources, and has a commitment to the principles of independence, scientific inquiry and rigour.</li>
                    <li>Demonstrate significant experience in the field, ideally on the ground in the region they are commenting on.</li>
                    <li>Willing to provide expert advice, feedback and engage on a regular basis with 360 editors on their area of expertise</li>
                </ul>
                <p>360 editors must ensure a proportionate balance of representatives on each panel by both gender and location across Global South and Global North countries. </p>
                <p>Editors work collaboratively with authors to ensure contributions are checked, edited and ready for publication. Each author has the final sign-off of their article prior to publication.</p>

                <h5>Source attribution</h5>
                <p>Authors must provide their institutional and funding affiliations in respect of any content they author.  These affiliations will be published alongside the content, making it clear to end republishers of the content. </p>
                <p>While the author is responsible for ensuring they attribute information to its source, and add links to original source material where available, editors must query all sources or where sources are not listed.  </p>
                <p>If the integrity of an article or the listed affiliations are queried, and found to be misleading or insufficient, 360 will fix or take down the article.</p>

                <h5>Corrections and clarifications</h5>
                <p>A commitment to accuracy includes a willingness to correct errors and clarify ambiguous or otherwise misleading information in a timely manner. </p>
                <p>Editorial-related complaints coming from authors, republishers, or readers must be dealt with in a timely, respectful and proportionate manner. For example, complaints regarding a breach of our charter or editorial policies are considered more serious than a comment criticising a particular editorial choice.</p>
                <ul>
                    <li>A correction must be made when information which is material to a reasonable person’s understanding of the content is not correct, is missing or has not been presented in context.</li>
                    <li>A clarification must be made when information published by 360 is ambiguous, incomplete, confusing, misleading or open to misinterpretation. </li>
                </ul>
                <p>When libel or plagiarism are clearly established we remove content. </p>
                <p>Content is generally only removed if there is no other way to correct or rectify the issue.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}