{% extends "layout.html" %}

{% block content %}

<div class="content content__about public-page">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline">
                <h1 class="mb-4 text-center">About Us</h1>
                <p>At a time of low trust in news and widespread misinformation, <span class="font-weight-bold">360info™</span> delivers verified and reliable information to as many publishing, broadcasting and civic society outlets as possible. It is not a breaking news service nor a consumer-facing website driven by clicks. 360 operates as a <span class="font-italic">"wire agency"</span> supplying contextual and explanatory news features ready-for-publication on other publisher's outlets at no cost under Creative Commons.</p>
                <ul>
                    <li><span class="font-weight-bold">360info</span> addresses the world’s key challenges as broadly defined by the UN's Sustainable Development Goals. But goes further by providing research-driven solutions.</li>
                    <li><span class="font-weight-bold">360info</span> is an independent nonprofit public information service with headquarters in Melbourne hosted at Monash University which has provided our foundational funding. Monash is Australia’s largest and most globally connected university with campuses around the world.</li>
                    <li><span class="font-weight-bold">360info</span> collaborates with many experts, but commissions only from academic authors with relevant and demonstrable research expertise.</li>
                </ul>
                <p>As an independent not-for-profit, all <span class="font-weight-bold">360info</span> content is free to republish, edit, remix or translate under <a class="text-primary" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>. A Charter governs the transparency, accuracy and reliability of our content.</p>
                <p>Team 360</p>
            </div>
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline mt-5">
                <h4>OUR TEAM</h4>
                <h5 class="mb-4 mt-4">Leadership</h5>
                <p class="font-weight-bold mb-0">Andrew Jaspan</p>
                <p>Andrew is the Director and Editor-in-Chief of 360info. He began work on developing the project, then known as The Global Academy, while based at RMIT University with the support of Melbourne, Deakin, Western Sydney and RMIT universities. From 2020, the project moved to Monash University, which is now host of 360info.</p>
                <p>Andrew is the Founder of The Conversation, Australia’s largest independent news and commentary site and helped set up The Conversation's operations in South Africa, US, UK, Spain, France, Canada and Indonesia. Previously Andrew edited newspapers including The Observer (London), Scotland on Sunday (Edinburgh), The Scotsman, The Sunday Herald (Glasgow), The Melbourne Age and The Sunday Age (Australia); was Publisher and Editor-in-Chief of The Big Issue (London) and worked at The Times and The Sunday Times (London). </p>

                <p class="font-weight-bold mb-0">Tracy McGregor</p>
                <p>Tracy is General Manager of 360info. After working in a variety of roles in Telecommunications (Uecomm), National Centre for Sustainability (Swinburne University), and Industry Solutions (Swinburne University), Tracy most recently served as Operations Manager for BehaviourWorks Australia, based at the Monash Sustainable Development Institute. Tracy has an MBA from the Australian Institute of Business.</p>

                <p class="font-weight-bold mb-0">Charis Palmer</p>
                <p>Charis is Strategic Lead Editorial and Product at 360info. A leader of numerous Australian media startups, Charis ran her own subscription publishing company before serving as editor of Business Spectator, Technology Spectator and iTnews, Chief of Staff & Head of Digital Strategy for The Conversation Australia and CEO of Schwartz Pro.</p>

                <h5 class="mb-4 mt-5">Partnerships</h5>
                <p class="font-weight-bold mb-0">Josh Pitt</p>
                <p>Josh is Partnerships and Audience Development Manager for 360info. Josh has an extensive publishing and partnerships background, having worked closely with researchers, universities, professional societies and think tanks from many diverse fields. Former Publisher at Taylor & Francis, Managing Editor at Routledge, Senior Commissioning Editor at Springer Nature, and Editorial Manager at Informa Healthcare.</p>

                <p class="font-weight-bold mb-0">Ralph Nicholson</p>
                <p>Ralph is Strategic Adviser to 360info.  He has more than 30 years’ experience as a journalist and senior executive in newspapers, television and multimedia.   As Managing Editor with Reuters in London Nicholson was responsible for its global television news, and as an Executive Vice President with Reuters in New York, he managed their global video and wireless strategy. At various stages he has run news bureaux in Jerusalem, Moscow, Washington DC and Rome. </p>

                <h5 class="mb-4 mt-5">Editorial</h5>
                <p class="font-weight-bold mb-0">Bharat Bhushan</p>
                <p>Bharat is South Asia Editor for 360info.  A senior Indian journalist and columnist and former television show host on Foreign Affairs for RajyaSabha TV, Bharat has served as Editor of Catch News, founding Editor of Mail Today, Executive Editor of the Hindustan Times, Editor of The Telegraph in Delhi, Editor of the Express-News Service, Washington Correspondent of the Indian Express and an Assistant Editor with The Times of India.</p>

                <p class="font-weight-bold mb-0">Sara Phillips</p>
                <p>Sara is a Senior Commissioning Editor with 360info. An award-winning science writer and editor based in Melbourne, Australia, she was formerly executive editor for the Asia-Pacific region of Nature Research Group’s custom media arm. She has also worked for the ABC, Cosmos and G magazines.</p>

                <p class="font-weight-bold mb-0">James Goldie</p>
                <p>James is Data and Digital Storytelling Lead with 360info. A researcher, data scientist and digital storyteller, James sits on the edge of academia and media. James previously worked with the Monash Climate Change Communication Research Hub using his data visualisation skills to help Australians understand climate change. He has a PhD in Climate Science from UNSW.</p>

                <p class="font-weight-bold mb-0">Michael Joiner</p>
                <p>Michael is a Multimedia Producer with 360info. He previously served at The Pod, a multimedia firm focused on corporate and government projects, doing work with museums and delivering content across every medium. Michael has diverse multimedia skills including design, video, animation, motion graphics and photography.</p>

                <p class="font-weight-bold mb-0">Tasha Wibawa</p>
                <p>Tasha is a Commissioning Editor with 360info. She previously worked as a journalist and producer in the ABC's Asia Pacific Newsroom, and as a video journalist in regional Western Australia. She holds a Master's Degree in International Relations from Monash University and completed her post-graduate diploma in broadcasting at the West Australian Academy of Performing Arts. </p>

                <p class="font-weight-bold mb-0">Reece Hooker</p>
                <p>Reece is an Assistant Producer with 360info with experience producing, writing and editing content. He has served as a digital producer for Melbourne's Herald Sun and holds a Bachelor of Laws (Honours)/Bachelor of Arts from Monash University.</p>

                <p class="font-weight-bold mb-0">Adrian Black</p>
                <p>Adrian is an Assistant Editor with 360info. A journalist and media analyst, Adrian most recently worked as a policy reporter for Schwartz. He holds a Bachelor in Commerce for the University of Melbourne and a Graduate Diploma in Journalism from RMIT.</p>

                <p class="font-weight-bold mb-0">Bill Condie</p>
                <p>Bill is a Senior Editor with 360info. He is former Head of Publishing at the Royal Institution of Australia. Previously he was Publisher of the popular science magazine, Cosmos, based in Melbourne, Australia. Bill has been a journalist for more than 30 years and his work has been published in Cosmos magazine, The Guardian, The Observer, The Times, The Daily Telegraph and the London Evening Standard.</p>
            </div>

            <div class="col-12 col-xl-8 mx-xl-auto a--underline text-center mt-5">
                <p>Headquartered at Monash University, Melbourne, we will build global news hubs to commission, produce and distribute around the world.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}