{% extends "layout.html" %}

{% block content %}

<div class="content content__about">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-xxl-8 mx-xxl-auto a--underline text-center">
                <h1 class="mb-4">360info™ Charter</h1>
                <p class="font-weight-bold">Provide an independent open access public information service that helps better explain the world and its most pressing challenges - and offers ways to address those probelms and where possible solutions.</p>
                <p>Our content is sourced entirely from the international university and research community and then edited and curated by professional editors to ensure maximum readability. Editors are responsible for ensuring authors have a current affiliation with a university/research institution and are writing in their area of expertise.</p>
                <p>To ensure a more balanced cross-border and cross-cultural worldview we gather perspectives from experts in the field prior to commissioning articles, and ensure contributions and perspectives from the global South as well as the North.</p>
                <p>We believe citizens everywhere have a right to equity of access to accurate and reliable information to help underpin reasoned and informed discussions that can feed into policy and decision-making.</p>
                <p>To allow the widest possible reach we operate a global “wire agency” service that provides publishers everywhere with open access and use of our high-quality and ready-to-use content without charge.</p>
                <p>To gain the confidence and trust of readers and republishers we are committed to a policy of full transparency of our funding, governance, codes of conduct and working practices.</p>
                <p>Our decisions on what to publish and by whom are not influenced by funders or university hosts.</p>
                <p>We are a not-for-profit service.</p>
            </div>
        </div>
    </div>
    {% include "footer_text.html" %}
</div>

{% endblock %}
