<form class="form" method="post">
    <p>Approved users will be provided with a login to access content. There is no cost for registration.</p>

    <p>
        Please complete your details below and review and confirm the
        <a href="https://360info.org/about-us/terms-conditions/" class="link" target="_blank">Terms of Use</a>.
        If confirmed, you will receive login details from us. You will also be added to our subscription database
        to ensure you are notified of upcoming and released content packages.
    </p>

    {{ form.hidden_tag() }}

    {% include "form_alerts.html" %}
    {% include "flash_messages.html" %}

    <div class="form-group">
        <label for="first_name">{{ form.first_name.label.text }}</label>
        {{ form.first_name(class="form-control", id="first_name", required="true") }}
    </div>
    <div class="form-group">
        <label for="last_name">{{ form.last_name.label.text }}</label>
        {{ form.last_name(class="form-control", id="last_name", required="true") }}
    </div>
    <div class="form-group">
        <label for="email">{{ form.email.label.text }}</label>
        {{ form.email(class="form-control", id="email", required="true") }}
    </div>
    <div class="form-group">
        <label for="phone">{{ form.phone.label.text }}</label>
        {{ form.phone(class="form-control", id="phone", required="true") }}
    </div>
    <div class="form-group">
        <label for="country">{{ form.country.label.text }}</label>
        {{ form.country(class="form-control", id="country", required="true") }}
    </div>
    <div class="form-group">
        <label for="company">{{ form.company.label.text }}</label>
        {{ form.company(class="form-control", id="company", required="true") }}
    </div>
    <div class="form-group">
        <label for="occupation">{{ form.occupation.label.text }}</label>
        {{ form.occupation(class="form-control", id="occupation", required="true") }}
    </div>
    {% if form.company_type.choices %}
        <div class="form-group">
            <label for="company_type">{{ form.company_type.label.text }}</label>
            {{ form.company_type(class="form-control", id="company_type") }}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="company_size">{{ form.company_size.label.text }}</label>
        {{ form.company_size(class="form-control", id="company_size", required="true") }}
    </div>
    <div class="form-group">
        <label for="company_url">{{ form.company_url.label.text }}</label>
        {{ form.company_url(class="form-control", id="company_url") }}
    </div>

    <div class="form-group">
        <label for="referred_by">{{ form.referred_by.label.text }}</label>
        {{ form.referred_by(class="form-control", id="referred_by", required="true") }}
    </div>

    <h4 class="mt-5">Terms and conditions</h4>
    <p>Under Creative Commons, you are free to:</p>
    <p class="ms-4">
        <span class="font-weight-bold">Share</span> — copy and redistribute the Features and Articles from
        360info in any medium or format;
    </p>
    <p class="ms-4">
        <span class="font-weight-bold">Adapt</span> — remix, transform, and build upon the content for any purpose,
        even commercially.
    </p>
    <p class="ms-4">
        <span class="font-weight-bold">You must:</span> Attribute — Credit the author/s name, 360info and the title
        of the work and provide a link to the
        <a class="link" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">
            CC licence Attribution 4.0 International.
        </a>
    </p>
    <p>
        <span class="font-weight-bold">Note</span>: These links and credits are included with the content you
        download. Indicate if you made any changes to the work, as per the terms of use.
    </p>

    <h4 class="mt-5">Privacy collection statement</h4>
    <p>
        Monash University is responsible for the handling of all personal data that is collected, used,
        stored and otherwise processed for the delivery of 360info including:
    </p>
    <ul>
        <li>To provide you with a login to access Newshub</li>
        <li>To email you regarding the terms, conditions and/or renewal of your registration.</li>
        <li>
            To email you updates regarding the service and or special content updates
            (you will have the option to unsubscribe from these types of updates).
        </li>
        <li>To seek feedback from you, (i.e. through survey/s)</li>
        <li>To identify you, your organisation, region as having downloaded (or not) content for re-use,</li>
        <li>
            To understand how you have used the 360info services in order to analyse usage data for the purpose
            of improving the service.
        </li>
    </ul>

    <p>
        A login name and password are required to access Newshub. This is to ensure that the information is
        displayed only to the intended person. You should ensure that your password is kept securely and
        cannot be discovered by anyone else.
    </p>

    <p>
        360info values the privacy of every individual’s personal information and is committed to the protection
        of that information from unauthorised use and disclosure except where permitted by law. For information
        about the handling of your personal information please see the Monash University
        <a
            class="link"
            href="https://www.monash.edu/__data/assets/pdf_file/0003/1595271/Visitors-and-Enquirers-Data-Protection-and-Privacy-Collection-Statement.pdf"
            target="_blank"
        >
            Visitors and Enquirers Collection Statement
        </a>.
        For more information about our Data Protection and Privacy please see the Monash University our
        <a
            class="link"
            href="https://www.monash.edu/__data/assets/pdf_file/0003/790086/Privacy.pdf"
            target="_blank"
        >
            Data Protection and Privacy Procedure
        </a>.
        Where Newshub contains links to other sites. 360info is not responsible for the privacy practices or the
        content of such websites.
    </p>
    <p>
        If you have any questions about how 360info is collecting and handling your personal information,
        please contact our Data Protection and Privacy Office at
        <a class="link" href="mailto:dataprotectionofficer@monash.edu" target="_blank">
            dataprotectionofficer@monash.edu
        </a>
    </p>

    <div class="form-group mb-4 p-0">
        <div class="form-check">
            {{ form.consent_login(class="form-check-input", id="consent_login", required="true") }}
            <label class="form-check-label" for="consent_login">
                {{ form.consent_login.label.text }}
            </label>
            <span>
                the personal information that I provide in this form being used by 360info for the purposes of
                login as per the privacy collection statement.*
            </span>
        </div>
    </div>

    <div class="form-group mb-4 p-0">
        <div class="form-check">
            {{ form.consent_alerts(class="form-check-input", id="consent_alerts", required="true") }}
            <label class="form-check-label" for="consent_alerts">
                {{ form.consent_alerts.label.text }}
            </label>
            <span>
                the personal information that I provide in this form being used by 360info to send me
                regular alerts and/or newsletters
            </span>
        </div>
    </div>

    <div class="form-group mb-4 p-0">
        <div class="form-check">
            {{ form.consent_reporting(class="form-check-input", id="consent_reporting", required="true") }}
            <label class="form-check-label" for="consent_reporting">
                {{ form.consent_reporting.label.text }}
            </label>
            <span>
                the personal information that I provide in this form being disclosed to third parties for the
                purpose of 360info analytics and reporting for 360info purposes only.
            </span>
        </div>
    </div>

    <p>
        If you do not provide your consent for the above purposes, 360info will not be able to process your
        information or enable your participation in Newshub.
    </p>

    <p class="font-italic">
        360info is an initiative of Monash University, ABN 12 377 614 012. If you have any questions about how
        Monash University is collecting and handling your personal information, please contact our Data Protection
        and Privacy Office at
        <a class="link" href="mailto:dataprotectionofficer@monash.edu" target="_blank">
            dataprotectionofficer@monash.edu
        </a>.
    </p>

    <div class="form-group mb-4 p-0">
        <div class="form-check">
            {{ form.consent_terms(class="form-check-input", id="consent_terms", required="true") }}
            <label class="form-check-label" for="consent_terms">
                {{ form.consent_terms.label.text }}
            </label>
            <span class="">
                abide by these terms and conditions as per the
                <a
                    class="link"
                    href="https://360info.org/about-us/terms-conditions/"
                    target="_blank"
                >
                    {{ gettext("terms of use") }}
                </a>
            </span>
        </div>
    </div>

    <div class="g-recaptcha mb-4" data-sitekey={{ sitekey }} data-callback="enableSubmitButton"></div>

    <button type="submit" class="btn btn-primary btn-block" id="signup-submit" disabled>
        {{ gettext("Register") }}
    </button>
</form>
